<h1>imports</h1>

In [40]:

from langchain.llms.openai import OpenAI

from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents import AgentExecutor

from langchain.sql_database import SQLDatabase

from dotenv import load_dotenv # pip install load-dotenv
load_dotenv()

import psycopg2 # pip install psycopg-binary

<h1>Connect to SQL and create an Agent</h1>

In [41]:
db = SQLDatabase.from_uri('postgresql+psycopg2://admin:password123@localhost/admin')
print(db)

from langchain.chat_models import ChatOpenAI
llm = ChatOpenAI(model_name="gpt-3.5-turbo")

     

toolkit = SQLDatabaseToolkit(db=db,llm=llm)

agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True
)

<langchain.sql_database.SQLDatabase object at 0x7f1dd74f1310>

<h1>Run agent to ask OpenAI for answer</h1>

In [43]:
agent_executor.run("using the teachers table, find the first_name and last name of teachers who earn less the mean salary?")

> Entering new AgentExecutor chain...
Action: list_tables_sql_db
Action Input: ""
Observation: teachers, people
Thought:I should use the teachers table to find the first_name and last_name columns and calculate the mean salary.
Action: query_sql_db
Action Input: "SELECT first_name, last_name FROM teachers WHERE salary < (SELECT AVG(salary) FROM teachers) ORDER BY salary ASC LIMIT 10"
Observation: [('Janet', 'Smith'), ('Samantha', 'Bush'), ('Kathleen', 'Roush'), ('Samuel', 'Cole'), ('Betty', 'Diaz')]
Thought:I have found the first_name and last_name of teachers who earn less than the mean salary and ordered them by salary in ascending order.
Final Answer: The first_name and last_name of teachers who earn less than the mean salary are Janet Smith, Samantha Bush, Kathleen Roush, Samuel Cole, and Betty Diaz.

> Finished chain.

'The first_name and last_name of teachers who earn less than the mean salary are Janet Smith, Samantha Bush, Kathleen Roush, Samuel Cole, and Betty Diaz.'